@model BookViewModel
@{
ViewBag.Title = "Edit books";
}

<div>
    <h3>Edit book</h3>
    <form method="POST">
        <fieldset>
            <label asp-for="Title">Title</label>
            <input type="text" asp-for="Title">
            <span asp-validation-for="Title" class="alert danger-alert"></span>
        </fieldset>
        <fieldset>
            <label asp-for="Description">Description</label>
            <input type="text" asp-for="Description">
            <span asp-validation-for="Description"></span>
        </fieldset>
@*      <fieldset>
            <label asp-for="Author">Author</label>
            <input type="text" asp-for="Author">
            <span asp-validation-for="Author"></span>
        </fieldset>
        <fieldset>
            <label asp-for="Publisher">Publisher</label>
            <input type="text" asp-for="Publisher">
            <span asp-validation-for="Publisher"></span>
        </fieldset> *@
        <fieldset>
            <label asp-for="ISBN">ISBN</label>
            <input type="text" asp-for="ISBN">
            <span asp-validation-for="ISBN"></span>
        </fieldset>
        <fieldset>
            <label asp-for="Year">Year</label>
            <input type="number" asp-for="Year">
            <span asp-validation-for="Year"></span>
        </fieldset>
        <fieldset>
            <label asp-for="Cover">Cover</label>
            <input type="file" asp-for="Cover">
            <span asp-validation-for="Cover"></span>
        </fieldset>
        <input type="submit">
    </form>
    <div>
        <a asp-controller="App" asp-action="Index">Back</a>
    </div>
</div>

