ul {
  padding: 20px;
  font-family: sans-serif;
}

ul li {
  margin: 5px;
  color: chocolate;
  padding: 5px;
  border-bottom: solid 2px chocolate;
}

h1 {
  text-align: center;
  color: chocolate;
}
